In [1]:
!pip install catboost
!pip install ipywidgets
!jupyter nbextension enable --py widgetsnbextension

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/ca/ae/aaff63662f7f5d2af7ec8d61a6f39e78ada9348e5df4f43e665ecc4bea10/catboost-0.21-cp36-none-manylinux1_x86_64.whl (64.0MB)
     |████████████████████████████████| 64.0MB 45kB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.17.5)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.12.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (0.25.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.1.2)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2.6.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.1.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib->catboost) (42.0.2)
Installing collected packages: catboost
Successfully installed catboost-0.21
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.6/dist-packages (7.5.1)
Requirement already satisfied: traitlets>=4.3.1 in /usr/local/lib/python3.6/dist-packages (from ipywidgets) (4.3.3)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in /usr/local/lib/python3.6/dist-packages (from ipywidgets) (5.5.0)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.6/dist-packages (from ipywidgets) (5.0.3)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.6/dist-packages (from ipywidgets) (4.6.1)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.6/dist-packages (from ipywidgets) (3.5.1)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.3.1->ipywidgets) (0.2.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.3.1->ipywidgets) (4.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.3.1->ipywidgets) (1.12.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (0.7.5)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (2.1.3)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (1.0.18)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (4.7.0)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (0.8.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (42.0.2)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.2.0->ipywidgets) (4.6.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.2.0->ipywidgets) (2.6.0)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.6/dist-packages (from ipykernel>=4.5.1->ipywidgets) (4.5.3)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.6/dist-packages (from ipykernel>=4.5.1->ipywidgets) (5.3.4)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.6/dist-packages (from widgetsnbextension~=3.5.0->ipywidgets) (5.2.2)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (0.1.8)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->ipython>=4.0.0; python_version >= "3.3"->ipywidgets) (0.6.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets) (2.6.1)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.6/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets) (17.0.0)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.6/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (5.6.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (2.10.3)
Requirement already satisfied: terminado>=0.3.3; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.8.3)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.6.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (1.4.2)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.3)
Requirement already satisfied: testpath in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.4.4)
Requirement already satisfied: bleach in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (3.1.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.8.4)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (1.1.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.5.1)
Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: OK

Data Preparation

In [0]:
from catboost.datasets import amazon
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from catboost import Pool

In [0]:
train_df, test_df = amazon()

In [4]:
train_df.head()

   ACTION  RESOURCE  MGR_ID  ...  ROLE_FAMILY_DESC  ROLE_FAMILY  ROLE_CODE
0       1     39353   85475  ...            117906       290919     117908
1       1     17183    1540  ...            118536       308574     118539
2       1     36724   14457  ...            267952        19721     117880
3       1     36135    5396  ...            240983       290919     118322
4       1     42680    5905  ...            123932        19793     119325

[5 rows x 10 columns]

In [5]:
train_df.shape

(32769, 10)

In [6]:
train_df.isnull().sum()

ACTION              0
RESOURCE            0
MGR_ID              0
ROLE_ROLLUP_1       0
ROLE_ROLLUP_2       0
ROLE_DEPTNAME       0
ROLE_TITLE          0
ROLE_FAMILY_DESC    0
ROLE_FAMILY         0
ROLE_CODE           0
dtype: int64

In [7]:
for col in train_df.columns:
    s = train_df[col].unique().shape[0]
    print(f'For column {col} the number of unique valriables is {s}')

For column ACTION the number of unique valriables is 2
For column RESOURCE the number of unique valriables is 7518
For column MGR_ID the number of unique valriables is 4243
For column ROLE_ROLLUP_1 the number of unique valriables is 128
For column ROLE_ROLLUP_2 the number of unique valriables is 177
For column ROLE_DEPTNAME the number of unique valriables is 449
For column ROLE_TITLE the number of unique valriables is 343
For column ROLE_FAMILY_DESC the number of unique valriables is 2358
For column ROLE_FAMILY the number of unique valriables is 67
For column ROLE_CODE the number of unique valriables is 343

In [8]:
print(f'Labels are {set(train_df["ACTION"])}')
ones = train_df['ACTION'].loc[train_df['ACTION']==1].shape[0]
zeros = train_df['ACTION'].loc[train_df['ACTION']==0].shape[0]
print(f'Number of 1s in a dataset: {ones}, Number of 0s in a dataset: {zeros}')

Labels are {0, 1}
Number of 1s in a dataset: 30872, Number of 0s in a dataset: 1897

In [0]:
train_df, validation_df = train_test_split(train_df, test_size=0.1, stratify=train_df['ACTION'], random_state=200)

In [0]:
X, Y = train_df.drop(['ACTION'], axis=1), train_df['ACTION']

In [11]:
X.head()

       RESOURCE  MGR_ID  ...  ROLE_FAMILY  ROLE_CODE
13192     75943    3100  ...       117887     117973
31386    109084    1483  ...       118643     124888
20396     74557    7504  ...       290919     118322
30156     19310   14551  ...        19721     117900
896       79363    1030  ...       118363     118364

[5 rows x 9 columns]

In [0]:
categorical_indices = list(range(0, len(X.columns))) # indices of categorical features

In [13]:
X.iloc[:, categorical_indices].head()

       RESOURCE  MGR_ID  ...  ROLE_FAMILY  ROLE_CODE
13192     75943    3100  ...       117887     117973
31386    109084    1483  ...       118643     124888
20396     74557    7504  ...       290919     118322
30156     19310   14551  ...        19721     117900
896       79363    1030  ...       118363     118364

[5 rows x 9 columns]

The dataset for the purposes of this talk is very clean. All variables are of the same type, all categorical. No missing values to worry about. The only issue is imbalance of the dataset. That can, and should be treated during data preparation process, with different techniques depending on your problem.

**Modeling**

In [0]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, roc_auc_score
from sklearn.model_selection import StratifiedKFold
from catboost import CatBoostClassifier, sum_models


def cv_catboost(X, Y, cat_columns):
    # CROSS VALIDATION
    cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=7)

    # RUN
    c = 0
    oof_preds = np.zeros((len(X), 2))
    models = []

    for train, valid in cv.split(X, Y):
        print("VAL fold %s" % c)
        X_train = X.iloc[train]
        Y_train = Y.iloc[train]
        X_valid = X.iloc[valid]
        Y_valid = Y.iloc[valid]

        model = CatBoostClassifier(iterations=2000, 
                                   verbose=200,
                                   random_seed=43,
                                   od_type='Iter',
                                   od_wait=100,
                                   train_dir=f'model_cross_val_{c}',
                                   task_type='GPU'
                                   )

        try:
            model.fit(X_train, Y_train,
                    eval_set=(X_valid, Y_valid), 
                    use_best_model=True,
                    cat_features=cat_columns, 
                    save_snapshot=True,
                    snapshot_interval=300,
                    snapshot_file=f'snapshot_{c}',
                    )
        except:
            model.fit(X_train, Y_train,
                    eval_set=(X_valid, Y_valid), 
                    use_best_model=True,
                    cat_features=cat_columns,
                    )
        
        oof_preds[valid] = model.predict_proba(X_valid)
        models.append(model)


        # EVALUATION
        auc = roc_auc_score(validation_df['ACTION'], [r[1] for r in model.predict_proba(validation_df.drop('ACTION', axis=1))] )
        print(f'AUC for fold {c} is {auc}')
        c += 1

    final_model = sum_models(models, ctr_merge_policy='LeaveMostDiversifiedTable') # ('FailIfCtrsIntersects', 'IntersectingCountersAverage')
    auc = roc_auc_score(validation_df['ACTION'], [r[1] for r in final_model.predict(validation_df.drop('ACTION', axis=1), prediction_type='Probability')] )
    print(f'Final model AUC is {auc}')
    

    # OOF PREDS
    oof_preds = [row[1] for row in oof_preds]
    auc = roc_auc_score(Y, oof_preds)
    print("CV_AUC: {}".format(auc))

    # SAVE OOF PREDS
    oof_pred_df = pd.DataFrame(columns=['ID_code', 'target'])
    oof_pred_df['ID_code'] = pd.Series(X.index.tolist())
    oof_pred_df['target'] = pd.Series(oof_preds)

    return final_model, oof_pred_df, models

In [15]:
import time
start = time.time()
final_model, oof_pred_df, models = cv_catboost(X, Y, categorical_indices)
print(time.time() - start)

VAL fold 0
Learning rate set to 0.040852
0:	learn: 0.6335210	test: 0.6350821	best: 0.6350821 (0)	total: 104ms	remaining: 3m 28s
200:	learn: 0.1516341	test: 0.1407156	best: 0.1407156 (200)	total: 11.3s	remaining: 1m 41s
400:	learn: 0.1450930	test: 0.1385907	best: 0.1385734 (393)	total: 22.2s	remaining: 1m 28s
600:	learn: 0.1395943	test: 0.1378234	best: 0.1378102 (597)	total: 33.1s	remaining: 1m 17s
800:	learn: 0.1363002	test: 0.1373417	best: 0.1373182 (771)	total: 44.2s	remaining: 1m 6s
1000:	learn: 0.1331791	test: 0.1372169	best: 0.1370207 (966)	total: 55s	remaining: 54.9s
bestTest = 0.1370207493
bestIteration = 966
Shrink model to first 967 iterations.
AUC for fold 0 is 0.8640998755391881
VAL fold 1
Learning rate set to 0.040852
0:	learn: 0.6333667	test: 0.6346355	best: 0.6346355 (0)	total: 56.8ms	remaining: 1m 53s
200:	learn: 0.1486551	test: 0.1443204	best: 0.1443204 (200)	total: 11.4s	remaining: 1m 41s
400:	learn: 0.1425145	test: 0.1420261	best: 0.1420261 (400)	total: 22.3s	remaining: 1m 28s
600:	learn: 0.1387401	test: 0.1412457	best: 0.1412412 (595)	total: 33.2s	remaining: 1m 17s
800:	learn: 0.1355452	test: 0.1405052	best: 0.1405049 (799)	total: 44.6s	remaining: 1m 6s
bestTest = 0.1403258253
bestIteration = 826
Shrink model to first 827 iterations.
AUC for fold 1 is 0.8751871174534978
VAL fold 2
Learning rate set to 0.040852
0:	learn: 0.6328010	test: 0.6334800	best: 0.6334800 (0)	total: 55.5ms	remaining: 1m 50s
200:	learn: 0.1518764	test: 0.1361691	best: 0.1361691 (200)	total: 11.2s	remaining: 1m 40s
400:	learn: 0.1451371	test: 0.1342742	best: 0.1342001 (398)	total: 22.1s	remaining: 1m 28s
bestTest = 0.1339426956
bestIteration = 463
Shrink model to first 464 iterations.
AUC for fold 2 is 0.8626199853374934
VAL fold 3
Learning rate set to 0.040852
0:	learn: 0.6341921	test: 0.6300058	best: 0.6300058 (0)	total: 55.3ms	remaining: 1m 50s
200:	learn: 0.1518142	test: 0.1449034	best: 0.1449034 (200)	total: 11.3s	remaining: 1m 40s
400:	learn: 0.1467881	test: 0.1435924	best: 0.1435369 (376)	total: 22.6s	remaining: 1m 30s
600:	learn: 0.1435997	test: 0.1430775	best: 0.1430630 (597)	total: 34.3s	remaining: 1m 19s
800:	learn: 0.1401133	test: 0.1425822	best: 0.1425822 (800)	total: 45.5s	remaining: 1m 8s
1000:	learn: 0.1378648	test: 0.1421594	best: 0.1421347 (981)	total: 56.4s	remaining: 56.3s
bestTest = 0.1420719513
bestIteration = 1053
Shrink model to first 1054 iterations.
AUC for fold 3 is 0.8734404037304145
VAL fold 4
Learning rate set to 0.040852
0:	learn: 0.6341012	test: 0.6356461	best: 0.6356461 (0)	total: 56.1ms	remaining: 1m 52s
200:	learn: 0.1531345	test: 0.1381762	best: 0.1381762 (200)	total: 11.2s	remaining: 1m 40s
400:	learn: 0.1469758	test: 0.1355098	best: 0.1354264 (395)	total: 22.2s	remaining: 1m 28s
600:	learn: 0.1430949	test: 0.1346416	best: 0.1346215 (599)	total: 33.1s	remaining: 1m 17s
800:	learn: 0.1395786	test: 0.1345998	best: 0.1344515 (722)	total: 44s	remaining: 1m 5s
bestTest = 0.1344514564
bestIteration = 722
Shrink model to first 723 iterations.
AUC for fold 4 is 0.8686929909808535
Final model AUC is 0.8745460590251137
CV_AUC: 0.894750479110932
260.34070587158203

Get feature importance

In [0]:
import numpy as np 
from sklearn.metrics import roc_auc_score, accuracy_score


def score(model, X, y):
    y_pred = model.predict(X)
    return accuracy_score(y, y_pred)

def score_auc(model, X, y):
    y_pred_prob = [i[1] for i in model.predict_proba(X)]
    return roc_auc_score(y, y_pred_prob)

def shuffled_scores(X_orig, y, model, score_func):
    scores = []
    for col in X_orig.columns:
        X = X_orig.copy()
        X[col] = np.random.permutation(X[col])
        score = score_func(model, X, y)
        scores.append(score)
    return np.array(scores)

def permutation_feature_importance(X, y, model, score_func, n_iter):
    base_score = score_func(model, X, y)
    print('Base score is ', base_score)
    score_decreases = []
    for i in range(n_iter):
        scores = shuffled_scores(X, y, model, score_func)
        score_decreases.append(-scores + base_score)
    return base_score, score_decreases

def get_permutation_importance(X, y, model, score_func):
    '''
    Call this function to get permutation feature importances.
    X - pandas dataframe with all the features used to train the model
    y - pandas dataframe or series object 
    model - Model object used for prediction. Any model objects with predict or .predict_proba methods are acceptable. 
    score_func - function to score the model. AUC and ACCURACY are available above
    '''
    
    base_score, score_decreases = permutation_feature_importance(X, y, model, score_func, 5)
    permutation_feature_importances = np.mean(score_decreases, axis=0)

    return base_score, permutation_feature_importances

In [17]:
base_score, permutation_feature_importances = get_permutation_importance(validation_df.drop('ACTION', axis=1), validation_df['ACTION'], models[0], score_auc)

Base score is  0.8640998755391881

In [0]:
feat_df = pd.DataFrame()
feat_df['feature'] = validation_df.drop('ACTION', axis=1).columns.tolist()
feat_df['scores'] = permutation_feature_importances
feat_df.sort_values(by=['scores'], ascending=False, inplace=True)

In [19]:
feat_df

            feature    scores
0          RESOURCE  0.053775
1            MGR_ID  0.032959
6  ROLE_FAMILY_DESC  0.017200
4     ROLE_DEPTNAME  0.014626
3     ROLE_ROLLUP_2  0.013386
7       ROLE_FAMILY  0.002920
2     ROLE_ROLLUP_1  0.002738
8         ROLE_CODE -0.001033
5        ROLE_TITLE -0.002340

In [0]:
final_model.save_model('final_catboost_amazon_dataset.bin')

In [21]:
final_model

In [0]:
import pickle

In [0]:
with open('models0_model_amazon.pickle', 'wb') as d_model:
    pickle.dump(models[0], d_model)

In [24]:
validation_df.drop('ACTION', axis=1).head(1)

       RESOURCE  MGR_ID  ...  ROLE_FAMILY  ROLE_CODE
24268     37326   25262  ...       308574     118687

[1 rows x 9 columns]

In [0]:
preds = list(final_model.staged_predict(validation_df.drop('ACTION', axis=1), prediction_type='Probability', ntree_end=200))

In [26]:
preds[199]

array([[0.01272989, 0.98727011],
       [0.02401881, 0.97598119],
       [0.00888811, 0.99111189],
       ...,
       [0.01130833, 0.98869167],
       [0.02171759, 0.97828241],
       [0.01625624, 0.98374376]])

In [27]:
auc = roc_auc_score(validation_df['ACTION'], [r[1] for r in preds[199]])
print(f'Staged predict Final model AUC is {auc}')

Staged predict Final model AUC is 0.8680220960564676

In [0]:
final_model.shrink(200)

In [0]:
with open('shrink_model_amazon.pickle', 'wb') as d_model:
    pickle.dump(final_model, d_model)

In [30]:
auc = roc_auc_score(validation_df['ACTION'], [r[1] for r in final_model.predict(validation_df.drop('ACTION', axis=1), prediction_type='Probability')])
print(f'Staged predict Final model AUC is {auc}')

Staged predict Final model AUC is 0.8680220960564676

In [0]:
from catboost.utils import select_threshold, get_confusion_matrix
validation_pool = Pool(validation_df.drop('ACTION', axis=1), validation_df['ACTION'], cat_features=categorical_indices)

CatBoostError: ignored